{% extends "index.html" %}
{% block content %}
      <div class="mt-5">
          <table class="table table-bordered">
          <thead>
              <tr>
                 <th scope="col">Вх.№</th>
                 <th scope="col">Задача</th>
                 <th scope="col">Статус</th>
                 <th scope="col"></th>
             </tr>
          </thead>
          <tbody>
          {% for i in item_list%}
             <tr>
                 <td>{{ forloop.counter }}</td>
                 <td>{{i.name}}</td>
                 <td>{{i.status}}</td>
                 <td><a href="{% url 'items_id' i.pk %}">More...</a></td>
             </tr>
             {% endfor %}
          </tbody>
          </table>
      </div>
{% endblock%}
